public/financing.wsdl

<wsdl:definitions name="financing" 
   targetNamespace="http://thinkibm-services.mybluemix.net"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:ser="http://thinkibm-services.mybluemix.net"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:s="http://www.w3.org/2001/XMLSchema"
   xmlns="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:types>
      <s:schema targetNamespace="http://thinkibm-services.mybluemix.net" elementFormDefault="qualified">
         <s:element name="financingRequest">
            <s:complexType>
               <s:sequence>
                  <s:element name="amount" type="s:string"/>
                  <s:element name="duration" type="s:string"/>
                  <s:element name="rate" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="financingResult">
            <s:complexType>
               <s:sequence>
                  <s:element name="paymentAmount" type="s:string"/>
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </wsdl:types>
   <wsdl:message name="financingInput">
      <wsdl:part name="body" element="ser:financingRequest"/>
   </wsdl:message>
   <wsdl:message name="financingOutput">
      <wsdl:part name="body" element="ser:financingResult"/>
   </wsdl:message>
   <wsdl:portType name="financingPortType">
      <wsdl:operation name="financing">
         <wsdl:input message="ser:financingInput"/>
         <wsdl:output message="ser:financingOutput"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="financingBinding" type="ser:financingPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="financing">
         <soap:operation soapAction="http://thinkibm-services.mybluemix.net/financing"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="financingService">
      <wsdl:port name="financingPort" binding="ser:financingBinding">
         <soap:address location="http://thinkibm-services.mybluemix.net/financing"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>